*{
    padding: 0;
    margin: 0;    
    

}
.header{
    width: 100%;
    height: 130px;
    background-image: linear-gradient(290deg,#ffe993,#ed831c);
    background-clip:text ;  
    display: inline-grid;
    grid-template-columns: 1fr  1fr;
    box-shadow: 10px 10px 5px 12px rgba(122, 133, 133, 0.119);
    position: fixed; 
    z-index: 1000;
    
}
.nav{
    justify-self: end;

}
.links{
    display: flex;
    
    top: 15px;
    padding: 20px;
       
}
li{
    margin: 10px;
    list-style: none;
    font-size: 25px;
}

 .nav a{
    color:black;
    padding: 10px;
    text-decoration:none;
    font-size: 40px;
    font-family: 'ZCOOL KuaiLe', sans-serif;

}
a{
    color:inherit;
    text-decoration: none;

}
 nav a:hover{
    font-size: 50px;
    transition: 0.2s;
    color: #ffdf61;
    background-color: black;
    border-radius: 100px;
    

}
.logo a{ 
    color: #ffdf61;
    text-decoration: none;
    background-color: rgb(21, 21, 19);
    border-radius: 100px;
    
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~MAIN~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

main section h1{
    font-family: 'ZCOOL KuaiLe', sans-serif;
    font-size: 50px; 
    text-align: center;
    padding-top: 150px;  
    background-color: bisque;

      /* background-image: linear-gradient(290deg,#ffe993,#ed831c); */
}
main section h2{
    font-family: 'ZCOOL KuaiLe', sans-serif;
    font-size: 50px; 
    text-align: center;
    /* background-image: linear-gradient(290deg,#ffe993,#ed831c); */
}


.section{
    background-color: bisque;
}

h3{
    margin: 20px;
}

main{
    text-align: center;
    font-size: 30px;

}
footer{
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    background-image: linear-gradient(290deg,#ffe993,#ed831c);
}
footer a{
font-size: 50px;
margin: 10px;
text-decoration:none;
color:inherit;



}
footer a:hover{
    font-size: 60px;
    transition: 0.2s;
}

.video-skater-semana{
    height: 500px;
}

.foto{
    height: 500px;
}
.fotos{
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;

}
.fotos img{
    margin: 50px;
    width: 500px;
    height: 500px;
    border-radius: 50px;
    box-shadow: 20px 20px 20px 10px rgba(208, 214, 200, 0.639);
}
hr {
    height:5px;
    width:1fr;
    border-width:0;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color:black;
  }

.spots{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: bisque;


}
.spots iframe{
    margin: 10px;
    border-radius: 30px;
}
.producto img{
    width: 300px;
    height: 300px;
    border-radius: 50px;
}
.producto img:hover{
    width: 330px;
    height: 330px;
    transition: 0.2s;
}
.producto p{
    margin: 20px;
}
.section img{
border-radius: 40px;
width: 500px;


}

.section iframe{
    border-radius: 40px;
    width: 500px;
}
.logo {
    border: none;
    font-size: 50px;
    font-family: 'Rock Salt', cursive;
    padding: 20px;
    
}

.carousel-inner img{
    width: 500px;
    height: 500px;
    position:relative;
    z-index: 1
    
}
.section{
    /* background-image: linear-gradient(180deg,#f7efce,#e4b381); */

}
.producto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.producto div{
    display: flex;
    flex-direction: column;
    margin: 10px;
}


@media (max-width:500px) {

    header .logo{
        width: 100px;
        font-size: 35px;
    }
    header nav ul {
        display: flex;
        flex-direction: column;
    
    }

    header nav ul li a{
        font-size: 20px;
        display: flex;
        height: 5px;
        padding: 0;

    };   
        
}
.titulo-videos{
    padding-top: 150px;
    text-align: center;
    font-family: 'ZCOOL KuaiLe', sans-serif;
    font-size: 50px;
    padding-bottom: 20px;

}

.titulo-fotos{
    padding-top: 150px;
    text-align: center;
    font-family: 'ZCOOL KuaiLe', sans-serif;
    font-size: 50px;
    padding-bottom: 20px;
    background-color: bisque;

}
.titulo-spots{
    padding-top: 150px;
    text-align: center;
    font-family: 'ZCOOL KuaiLe', sans-serif;
    font-size: 50px;
    padding-bottom: 20px;
    background-color: bisque;

}
.titulo-vendimia{
    padding-top: 150px;
    text-align: center;
    font-family: 'ZCOOL KuaiLe', sans-serif;
    font-size: 50px;
    padding-bottom: 20px;
}
.main-vendimia{
    background-color: bisque;

}
.main-videos{
    background-color: bisque;

}