*{
  padding: 0;
  margin: 0;
}
/* -----------------------------------------------------------------estilos para el nav-------------------------------------------------------------- */
.header {
  width: 100%;
  background-image: linear-gradient(290deg, #ffe993, #ed831c);
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 10px 10px 5px 12px rgba(122, 133, 133, 0.119);
  z-index: 1000;
  position: fixed;
}

.nav {
  justify-self: end;
}

.links {
  display: flex;
  top: 15px;
  padding: 20px;
}

li {
  margin: 10px;
  list-style: none;
  font-size: 25px;
}

.nav a {
  color: black;
  padding: 10px;
  text-decoration: none;
  font-size: 40px;
  font-family: "ZCOOL KuaiLe";
}
.nav a:hover {
  font-size: 50px;
  transition: 0.2s;
  color: #ffdf61;
  background-color: black;
  border-radius: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

.logo {
  border: none;
  font-size: 50px;
  font-family: "Rock Salt";
  padding: 20px;
}
.logo a {
  color: #ffdf61;
  text-decoration: none;
  background-color: rgb(21, 21, 19);
  border-radius: 100px;
}

/* ------------------------------------------------------------------seccion principal------------------------------------------------------------- */

main section h1 {
  font-family: "ZCOOL KuaiLe", sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 150px;
  background-color: bisque;
}
main section h2 {
  font-family: "ZCOOL KuaiLe";
  font-size: 50px;
  text-align: center;
}

.section {
  background-color: bisque;
}
.section img {
  border-radius: 40px;
  width: 500px;
}
.section iframe {
  border-radius: 40px;
  width: 500px;
}

main {
  text-align: center;
  font-size: 30px;
}

.foto {
  height: 500px;
}

.carousel-inner img {
  height: 500px;
  position: relative;
  z-index: 1;
}

/* -----------------------------------------------------------------------foooter------------------------------------------------------------------- */

footer {
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  background-image: linear-gradient(290deg, #ffe993, #ed831c);
}
footer a {
  font-size: 50px;
  margin: 10px;
  text-decoration: none;
  color: inherit;
}
footer a:hover {
  font-size: 60px;
  transition: 0.2s;
}

footer .btn{
    
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 50px;
    display: none; 
    border: #1c1c1c solid;
    border-radius: 20px;
    
    
  }
.btn:hover {
    font-size: 60px;
    transition: 0.2s;
}

/* ------------------------------------------------------------------Pagina de fotos-------------------------------------------------------------- */

.fotos {
  display: flex;
  flex-wrap: wrap;
  background-color: bisque;
}
.fotos img {
  margin: 50px;
  width: 500px;
  height: 500px;
  border-radius: 50px;
  box-shadow: 20px 20px 20px 10px rgba(208, 214, 200, 0.639);
}

.titulo-fotos {
  padding-top: 150px;
  text-align: center;
  font-family: "ZCOOL KuaiLe";
  font-size: 50px;
  padding-bottom: 20px;
  background-color: bisque;
}

/* ------------------------------------------------------------------------Pagina de spots----------------------------------------------------------- */

.spots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: bisque;

}
.spots iframe {
  margin: 10px;
  border-radius: 30px;
}

.titulo-spots {
  padding-top: 150px;
  text-align: center;
  font-family: "ZCOOL KuaiLe", sans-serif;
  font-size: 50px;
  padding-bottom: 20px;
  background-color: bisque;
}

/* -----------------------------------------------------------------------------Pagina de productos---------------------------------------------------- */

.producto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.producto p {
  margin: 20px;
}
.producto img {
  width: 300px;
  height: 300px;
  border-radius: 50px;
}
.producto img:hover {
  width: 330px;
  height: 330px;
  transition: 0.1s;
  border: #1c1c1c solid;
}
.producto div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.titulo-vendimia {
  padding-top: 150px;
  text-align: center;
  font-family: "ZCOOL KuaiLe";
  font-size: 50px;
  padding-bottom: 20px;
}

.main-vendimia {
  background-color: bisque;
}

/* -----------------------------------------------------------------------Pagina de videos------------------------------------------------------------- */

.titulo-videos {
  padding-top: 150px;
  text-align: center;
  font-family: "ZCOOL KuaiLe";
  font-size: 50px;
  padding-bottom: 20px;
}

.main-videos {
  background-color: bisque;
}

.videos iframe {
  border-radius: 50px;
}

.animacion-izquierda {
  opacity: 0;
  transform: translateX(-100%);
  animation: aparecer 1s ease forwards;
}

/* -------------------------------------------------------------------keyframes------------------------------------------------------------------------- */

@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
.animacion-derecha {
  opacity: 0;
  transform: translateX(100%);
  animation: aparecer 1s ease forwards;
}

@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
.abrir-menu,
.cerrar-menu {
  display: none;
}

/* --------------------------------------------------------------media queryes-------------------------------------------------------------------- */

@media screen and (max-width: 1000px) {
  .header {
    width: 950px;
  }
  .header .logo a {
    font-size: 30px;
  }
  .section {
    width: 950px;
  }
  footer {
    width: 950px;
  }
  .fotos, .titulo-fotos, .main-vendimia, .titulo-spots, .spots, .main-videos {
    width: 950px;
  }
  .carousel {
    width: 950px;
    margin-left: 0px;
  }
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }
  .abrir-menu {
    color: #1c1c1c;
    font-size: 40px;
  }
  .cerrar-menu {
    color: #ececec;
    font-size: 40px;
  }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    background-image: linear-gradient(290deg, #ffe993, #ed831c);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    z-index: 1000;
    position: fixed;
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .links {
    flex-direction: column;
    align-items: end;
  }
  .links li a {
    color: rgba(236, 236, 236, 0.9254901961);
  }
}
@media screen and (max-width: 550px) {
  .header {
    width: 521px;
  }
  .header .logo a {
    font-size: 30px;
  }
  .section {
    width: 521px;
  }
  footer {
    width: 521px;
  }
  .fotos, .titulo-fotos, .main-vendimia, .titulo-spots, .spots, .main-videos {
    width: 521px;
  }
  .carousel {
    width: 521px;
  }
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }
  .abrir-menu {
    color: #1c1c1c;
    font-size: 40px;
  }
  .cerrar-menu {
    color: #ececec;
    font-size: 40px;
  }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    background-image: linear-gradient(290deg, #ffe993, #ed831c);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    z-index: 1000;
    position: fixed;
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .links {
    flex-direction: column;
    align-items: end;
  }
  .links li a {
    color: rgba(236, 236, 236, 0.9254901961);
  }
}

/*# sourceMappingURL=style.css.map */
