
.titulo-videos{
    padding-top: 150px;
    text-align: center;
    font-family: map-get($map: $fuentes, $key: font-global);
    font-size: 50px;
    padding-bottom: 20px;

}

.main-videos{
    background-color: $color-background;

}
.videos iframe{
    border-radius: 50px;
}